In [1]:
# importing the libraries
import numpy as np
import pandas as pd

# Loading anime.csv data
missing_values=["n/a","na","--","?"]
df=pd.read_csv("anime.csv",na_values= missing_values,delimiter=',')
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [2]:
# Showing the table
df.shape

(12294, 7)

In [3]:
# Dropping missing values
df.dropna(inplace=True)

In [4]:
# Showing the table
df.shape

(12017, 7)

In [5]:
# Showing the table's information
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12017 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12017 non-null  int64
 1   name      12017 non-null  object
 2   genre     12017 non-null  object
 3   type      12017 non-null  object
 4   episodes  12017 non-null  object
 5   rating    12017 non-null  float64
 6   members   12017 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 751.1+ KB

In [6]:
# Loading rating.csv data
rating_df = pd.read_csv('rating.csv')
rating_df.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [7]:
rating_df.shape

(7813737, 3)

In [8]:
# Merging the two datasets
df_merge = pd.merge(df, rating_df, on = 'anime_id')
df_merge.head()

,anime_id,name,genre,type,episodes,rating_x,members,user_id,rating_y
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99,5
1,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,152,10
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,244,10
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,271,10
4,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,278,-1

In [9]:
df_merge.shape

(7813611, 9)

In [10]:
# Taking out the rows with no ratings, that are represented as -1. 
df_merge.rating_x.min()

1.67

In [11]:
df_merge = df_merge[df_merge.rating_y != -1]

# Showing the result
df_merge.head()

,anime_id,name,genre,type,episodes,rating_x,members,user_id,rating_y
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99,5
1,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,152,10
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,244,10
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,271,10
5,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,322,10

In [12]:
df_merge.shape

(6337146, 9)

In [13]:
# Counting the number of total votes per anime
temp = df_merge.groupby(['anime_id'], as_index=False).agg(totalvotes=('anime_id', pd.Series.count))

In [14]:
temp.head()

   anime_id  totalvotes
0         1       13449
1         5        5790
2         6        9385
3         7        2169
4         8         308

In [15]:
# Cheking the result
temp.loc[temp['anime_id'] == 32281].head()

      anime_id  totalvotes
9523     32281        1961

In [16]:
# Creating a final dataset
finaldataset = pd.merge(df_merge, temp, on = 'anime_id')
finaldataset.head()

,anime_id,name,genre,type,episodes,rating_x,members,user_id,rating_y,totalvotes
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99,5,1961
1,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,152,10,1961
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,244,10,1961
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,271,10,1961
4,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,322,10,1961

In [17]:
# Removing all the duplicate rows and leaving each anime with one row
finaldataset.drop_duplicates(subset=['anime_id'], inplace=True)
finaldataset.head(20)

,anime_id,name,genre,type,episodes,rating_x,members,user_id,rating_y,totalvotes
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99,5,1961
1961,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,3,10,21494
23455,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,43,10,1188
24643,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,5,9,17151
41794,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,5,9,3115
44909,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351,17,9,1038
45947,11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855,7,9,7477
53424,820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11,80679,183,10,803
54227,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534,5,10,2147
56374,15417,Gintama&#039;: Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11,81109,5,8,2126
58500,4181,Clannad: After Story,"Drama, Fantasy, Romance, Slice of Life, Supern...",TV,24,9.06,456749,7,9,15518
74018,28851,Koe no Katachi,"Drama, School, Shounen",Movie,1,9.05,102733,2378,8,34
74052,918,Gintama,"Action, Comedy, Historical, Parody, Samurai, S...",TV,201,9.04,336376,5,9,4264
78316,2904,Code Geass: Hangyaku no Lelouch R2,"Action, Drama, Mecha, Military, Sci-Fi, Super ...",TV,25,8.98,572888,7,9,21124
99440,28891,Haikyuu!! Second Season,"Comedy, Drama, School, Shounen, Sports",TV,25,8.93,179342,3,9,3311
102751,199,Sen to Chihiro no Kamikakushi,"Adventure, Drama, Supernatural",Movie,1,8.93,466254,3,10,19481
122232,23273,Shigatsu wa Kimi no Uso,"Drama, Music, Romance, School, Shounen",TV,22,8.92,416397,5,8,8271
130503,24701,Mushishi Zoku Shou 2nd Season,"Adventure, Fantasy, Historical, Mystery, Seine...",TV,10,8.88,75894,46,9,1449
131952,12355,Ookami Kodomo no Ame to Yuki,"Fantasy, Slice of Life",Movie,1,8.84,226193,11,9,6628
138580,1575,Code Geass: Hangyaku no Lelouch,"Action, Mecha, Military, School, Sci-Fi, Super...",TV,25,8.83,715151,7,9,24126

In [18]:
# # Converting the dataset to a csv file and saving it locally
# finaldataset.to_csv('FinalDataSet.csv', index=False)

In [19]:
# Showing the final dataset table
finaldataset.head()

,anime_id,name,genre,type,episodes,rating_x,members,user_id,rating_y,totalvotes
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99,5,1961
1961,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,3,10,21494
23455,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,43,10,1188
24643,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,5,9,17151
41794,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,5,9,3115

<h2>Applying the K nearest neighbor</h2>

In [20]:
# As the genre and type variables are categorical data, we need to one-hot encode them to ensure we can match incoming instances on quantitative similarity
from sklearn.preprocessing import LabelEncoder

enconder = LabelEncoder()
genre_labels = enconder.fit_transform(finaldataset['genre'])
genre_mappings = {index: label for index, label in 
                 enumerate(enconder.classes_)}

# Creating a map for the name column
enconder = LabelEncoder()
name_labels = enconder.fit_transform(finaldataset['name'])
name_mappings = {index: label for index, label in 
                  enumerate(enconder.classes_)}

In [21]:
# merging encoded data back to dataframe and visualise which columns they exist in
finaldataset['genre_mappings'] = genre_labels

finaldataset['name_mappings'] = name_labels


# Converting the dataset to a csv file and saving it locally
finaldataset.to_csv('finaldataset.csv', index=False)


# Showing the result
X =finaldataset.loc[:,["name_mappings", "genre_mappings"]]
X[0:5]

       name_mappings  genre_mappings
0               4395            2526
1961            2364             152
23455           2755             504
24643           8255            3025
41794           2746             504

In [22]:
# isolating an anime that we want to match
test2= finaldataset.loc[finaldataset['name'] == "Hajime no Ippo"]
test2

,anime_id,name,genre,type,episodes,rating_x,members,user_id,rating_y,totalvotes,genre_mappings,name_mappings
162706,263,Hajime no Ippo,"Comedy, Drama, Shounen, Sports",TV,75,8.83,157670,5,7,4273,1720,3004

In [24]:
# Applying the K-nearest neighbor
from sklearn.neighbors import NearestNeighbors

# Applying the name_mapping value and working with the seven nearest values
rec=[3004,1720]
Knn=NearestNeighbors(n_neighbors=7).fit(X)
print(Knn.kneighbors([rec])[1][0])

[ 20 270  31  43   5  14 831]

In [33]:
finaldataset.iloc[270]['name']

'Hajime no Ippo: Boxer no Kobushi'

In [37]:
Knn.kneighbors([rec])[1][0].size

7

In [39]:
list=Knn.kneighbors([rec])[1][0]
for i in range(1,list.size):
    print(finaldataset.iloc[list[i]])
    print('\n')

anime_id                                     12069
name              Hajime no Ippo: Boxer no Kobushi
genre               Comedy, Drama, Shounen, Sports
type                                       Special
episodes                                         1
rating_x                                      8.23
members                                      20157
user_id                                          5
rating_y                                         7
totalvotes                                     740
genre_mappings                                1720
name_mappings                                 3005
Name: 1330524, dtype: object


anime_id                                    5258
name              Hajime no Ippo: New Challenger
genre             Comedy, Drama, Shounen, Sports
type                                          TV
episodes                                      26
rating_x                                    8.75
members                                    88995
user_id                                        5
rating_y                                       8
totalvotes                                  3116
genre_mappings                              1720
name_mappings                               3008
Name: 257317, dtype: object


anime_id                                   19647
name                      Hajime no Ippo: Rising
genre             Comedy, Drama, Shounen, Sports
type                                          TV
episodes                                      25
rating_x                                    8.68
members                                    66756
user_id                                        5
rating_y                                       8
totalvotes                                  1845
genre_mappings                              1720
name_mappings                               3009
Name: 339819, dtype: object


anime_id                                                      32935
name              Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...
genre                        Comedy, Drama, School, Shounen, Sports
type                                                             TV
episodes                                                         10
rating_x                                                       9.15
members                                                       93351
user_id                                                          17
rating_y                                                          9
totalvotes                                                     1038
genre_mappings                                                 1711
name_mappings                                                  2985
Name: 44909, dtype: object


anime_id                                           28891
name                             Haikyuu!! Second Season
genre             Comedy, Drama, School, Shounen, Sports
type                                                  TV
episodes                                              25
rating_x                                            8.93
members                                           179342
user_id                                                3
rating_y                                               9
totalvotes                                          3311
genre_mappings                                      1711
name_mappings                                       2984
Name: 99440, dtype: object


anime_id                                           30364
name                Haikyuu!! Movie 2: Shousha to Haisha
genre             Comedy, Drama, School, Shounen, Sports
type                                               Movie
episodes                                               1
rating_x                                            7.81
members                                            10558
user_id                                             1530
rating_y                                               5
totalvotes                                            55
genre_mappings                                      1711
name_mappings                                       2981
Name: 2795872, dtype: object